*{
    margin: 0;
    padding: 0;
    font-family: serif;
}


.margin-top100px{
    margin-top: 100px;
}

.form_help{
    border: 1px solid black;
    margin: 0 200px;
    padding-left: 100px;
    height: 800px;
}

.login_title{
    font-size: 24px;
    font-weight: bold;
}

.login_input{
    width: 80%;
    height: 50px;
    padding-left: 10px;
}

.login__btn button{
    background-color: #f57224;
    margin: 20px 0 20px 0;
    width: 80%;
    height: 50px;
    border: 0;
}

.login__btn a{
    color: white;
    line-height: 3;
    font-size: medium;
    font-weight: bold;
}

.header{
    margin: 0 200px 0 100px;
    padding-left: 100px;
}
