/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 28, 2023, 3:34:26 AM
    Author     : ADMIN
*/

.form {
    width: 450px;
    height: 420px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

.form:hover {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    scale: 0.99;
}

.heading {
    position: relative;
    text-align: center;
    color: black;
    top: 3em;
    font-weight: bold;
}

.check {
    position: relative;
    -ms-flex-item-align: center;
    align-self: center;
    top: 4em;
}

.input {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    margin: 1em;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(235, 235, 235);
    -webkit-box-shadow: inset 3px 3px 6px #d1d1d1,
        inset -3px -3px 6px #ffffff;
    box-shadow: inset 3px 3px 6px #d1d1d1,
        inset -3px -3px 6px #ffffff;
    top: 6.5em;
    left: 1.5em;
    padding-left: 15px;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

.input:hover {
    -webkit-box-shadow: inset 0px 0px 0px #d1d1d1,
        inset 0px 0px 0px #ffffff;
    box-shadow: inset 0px 0px 0px #d1d1d1,
        inset 0px 0px 0px #ffffff;
    background-color: lightgrey;
}

.input:focus {
    -webkit-box-shadow: inset 0px 0px 0px #d1d1d1,
        inset 0px 0px 0px #ffffff;
    box-shadow: inset 0px 0px 0px #d1d1d1,
        inset 0px 0px 0px #ffffff;
    background-color: lightgrey;
}

.btn1 {
    position: relative;
    top: 8.5em;
    left: 2.4em;
    width: 26em;
    height: 3em;
    border-radius: 5px;
    border: none;
    outline: none;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    -webkit-box-shadow: 1px 1px 3px #b5b5b5,
        -1px -1px 3px #ffffff;
    box-shadow: 1px 1px 3px #b5b5b5,
        -1px -1px 3px #ffffff;
}

.btn1:active {
    -webkit-box-shadow: inset 3px 3px 6px #b5b5b5,
        inset -3px -3px 6px #ffffff;
    box-shadow: inset 3px 3px 6px #b5b5b5,
        inset -3px -3px 6px #ffffff;
}

.btn2 {
    position: relative;
    top: 9.5em;
    left: 2.4em;
    width: 26em;
    height: 3em;
    border-radius: 5px;
    border: none;
    outline: none;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    -webkit-box-shadow: 1px 1px 3px #b5b5b5,
        -1px -1px 3px #ffffff;
    box-shadow: 1px 1px 3px #b5b5b5,
        -1px -1px 3px #ffffff;
}

.btn2:active {
    -webkit-box-shadow: inset 3px 3px 6px #b5b5b5,
        inset -3px -3px 6px #ffffff;
    box-shadow: inset 3px 3px 6px #b5b5b5,
        inset -3px -3px 6px #ffffff;
}

/*        .input {
            max-width: 190px;
            width: 40px;
            height: 40px;
            outline: none;
            margin: 12px;
            transition: .5s;
            border: none;
            border-radius: 10px;
            padding: 10px;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            transform: rotate(90deg);
        }

        input:focus {
            width: 150px;
            transform: rotate(0);
        }*/