body {
    margin: 0;
    font-family: serif;
}
.panel-group{
    margin-bottom: 0;
}

.header{
    margin: 0;
    background-color: #d00435;
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.logo {
    height: 50px;
}

#logo {
    height: 100%;
}

.search {
    height: 100%;
    width: 450px;
    margin-top: 2rem;
}

.search div {
    display: inline-block;
}

.search input {
    height: 35px;
    width: 400px;
}


.btn_search button{
    width: 75px;
    height: 35px;
    background-color: black;
    border: none;
    color: white;
    line-height: 2.7;
}

button a {
    text-decoration: none;
    color: white;
}

.info div.choose {
    display: inline-block;
    padding: 10px;
    text-align: center;
    color: black;
}

.info p {
    margin: 0;
    font-family: sans-serif;
}

nav {
    width: 100%;
    height: 40px;
    background-color: #252525;
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#navbar {
    z-index: 1;
}
.content{
    z-index: 0;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
nav div {
    display: inline-block;
}

nav div a {
    text-decoration: none;
    color: white;
}

nav div p,
i {
    display: inline-block;
    margin: 0;
}

.slide{
    width: 100%;
}
.product{
    width: 33.3333%;
    height: 300px;
    padding: 0;
    border-left: solid 1px rgb(158, 158, 158);
    text-align: center;
    color: black;
}


.product img{
    width: 50%;
    /* border-radius: 50%;    */
    margin-top: 20px;
}

.fa-menu, .fa-slide{
    border-radius: 5px;
}

.fa-slide{
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.fa-menu{
    margin-top: 20px;

}

.prf{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.sticky + .content {
    padding-top: 60px;
}

.noidung_dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.noidung_dropdown a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #fff;
}

.noidung_dropdown a:hover {
    background-color: #ddd;
    color:#000;
}

.dropdown_nav a.categories:hover{
    color: rgb(224, 193, 137);
}

.dropdown_nav:hover .noidung_dropdown {
    display: block;
}

.slide{
    width: 100%;
    margin-top: 20px;
}

.phanloai{
    background-color: #fff;
    padding: 0;
    width: 300px;
    margin-left: 20px;
    margin-top: 20px;
}

.fa-slide{
    padding: 0;
}

#categories{
    width: 100%;
    height: 50px;
    border-bottom: solid 1px black;
    font-size: 20px;
    line-height: 2.5;
    font-weight: bold;
    background-color: #fff;
    color: black;
}

#categories i:last-child{
    margin-left: 100px;

}

#categories p{
    margin-left: 10px;
}
#branch{
    display: none;
    width: 100%;
    font-size: 20px;
    line-height: 2.5;
    font-weight: bold;
    color: rgb(38, 34, 34);
    margin-left: 50px;
}

#categories i:hover{
    cursor: pointer;
}

.product img{
    width: 50%;
    margin-top: 20px;
}

.product:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    text-decoration: none;
}

.product a{
    height: 450px;
}
.product p{
    margin-top: 30px;
}
.pro-img{
    width: 100%;
    height: 220px;
}
.pro-img img{
    height: 200px;
    border-radius: 5px;
}

.flashsale{
    font-size: bold;
    color: #CD1817;
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 40px;
}

.flashsale a{
    padding: 5px;
    text-align: center;
    height: 450px;
}

.flashsale a:hover{
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
    border-radius: 10px;
    text-decoration: none;
}

.gia{
    display: inline-block;
}

.gia-sale{
    width: 50%;
    height: 30px;
    background-color: #cb1c22;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
    margin-bottom: 10px;
}


.gia-goc{
    color: #a7a7b1;
    text-decoration-line: line-through;
}

.product-name{
    text-align: center;
    margin-left: 12px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.buy{
    width: 90%;
    height: 40px;
    background-color: #cb1c22;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 12px;
    margin-top: 10px;
    line-height: 2;
    display: none;
}

.flashsale a:hover .buy{
    display: block;
}

.collapse input{
    margin: 10px;
}

.form-group{
    margin: 20px;
    display: flex;
    justify-content: right;
}

.form-group label{
    margin-right: 12px;
    line-height: 2.5;
}

.payment{
    background-color: white;
}

.img_mxh img{
    width: 50px;
}

.app_icon img{
    width: 200px;
}

.app_icon{
    margin: 20px 0;
}

.website_help{
    margin-left: 40px;
}



html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

html,
body{
    height: 100%;
    min-width: 500px;
}

body{
    -webkit-font-smoothing: antialiased;
}

sup{
    font-size: 80%;
    vertical-align: top;
    position: relative;
    top: 1px;
}

.wrapper{
    display: table;
    width: 100%;
    height: 100%;
}

.container{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}



.dropdown_cart {
    position: relative;
    display: inline-block;
}

.content_dropdown {
    color: black;
    display: none;
    position: absolute;
    width: 500px;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.content_dropdown a {
    color: black;
    padding: 4px 16px 12px 16px;
    text-decoration: none;
    display: block;
}

.content_dropdown a.item:hover {
    background-color: #ddd;
}

.dropdown_cart:hover .content_dropdown {
    display: block;
}

/*Dùng Để hiển thị nội dung*/
.hienThi {
    display: block;
}








.card {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 0px;
}

.price-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
}

label.min lable.max {
    font-size: 13px;
    font-weight: 500;
}

p.min, p.max {
    font-size: 18px;
    font-weight: 600;
}

.range-slider {
    width: 400px;
    position: relative;
    margin: 15px 0 30px 0;
}

input[type=range] {
    -webkit-appearance: none;
    width: 280px;
    background: transparent;
    position: absolute;
    left: 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #36b37e;
    cursor: pointer;
    margin-top: -5px;
    position: relative;
    z-index: 1;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #e8e8e8;
    border-radius: 3px;
    border: none;
}








#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: gray;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#myBtn:hover {
    background-color: black;
}